@tailwind base;
@tailwind components;
@tailwind utilities;


.embla {
  overflow: hidden;
  position: relative;
  height: 50vh;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
  position: relative;
}

.embla__image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.embla__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.embla__controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.embla__prev, .embla__next {
  color: white;
  border: none;
  padding: 0.6rem;
  cursor: pointer;
}

.embla__dots {
  display: flex;
  gap: 10px;
}

.embla__dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.897);
  border-radius: 50%;
  cursor: pointer;
  
}

.embla__dot--active {
  background-color: rgb(105, 96, 96);
}

.custom-border-radius {
  -webkit-border-top-left-radius: 300px;
  -webkit-border-bottom-left-radius: 300px;
  -moz-border-radius-topleft: 300px;
  -moz-border-radius-bottomleft: 300px;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  box-shadow: 0 0 5px 1px white;
  position: relative;
  display: block;
  margin: 0;
  width: 2.7rem;
  height: 2.7rem;
  background: #bda248;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #080101;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.23rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #ffffff;
  border-right: 0.125rem solid #ffffff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 2.5rem;
  color: #051522;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  
}

button:hover .circle {
  width: 100%;
  box-shadow: 0 0 10px 2px white;
}

button:hover .button-text {
  transform: translate(-1.7rem, 0);
}

button:hover .circle .icon.arrow {
  background: #ffffff;
  transform: translate(8.5rem, 0);
}

button:active .circle .icon.arrow {
  transform: translate(9.5rem, 0);
  transition: all 0.3s;
  
}

button:active .circle {
  transform: scale(0.9);
  transition: all 0.3s;
  box-shadow: 0 0 5px 0.5px white;
}

button:hover .button-text {
  color: #ffffff;
  margin: 0 0 0 1rem;
  font-size: 0.8rem;
}

button:active .button-text {
  color: rgba(255, 255, 255, 0.459);
  margin: 0 0 0 1rem;
}