@tailwind base;
@tailwind components;
@tailwind utilities;


.embla {
  overflow: hidden;
  position: relative;
  height: 50vh;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
  position: relative;
}

.embla__image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.embla__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.embla__controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.embla__prev, .embla__next {
  color: white;
  border: none;
  padding: 0.6rem;
  cursor: pointer;
}

.embla__dots {
  display: flex;
  gap: 10px;
}

.embla__dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.897);
  border-radius: 50%;
  cursor: pointer;
  
}

.embla__dot--active {
  background-color: rgb(105, 96, 96);
}

.custom-border-radius {
  -webkit-border-top-left-radius: 300px;
  -webkit-border-bottom-left-radius: 300px;
  -moz-border-radius-topleft: 300px;
  -moz-border-radius-bottomleft: 300px;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
}

.scroll-hide {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}

.scroll-hide::-webkit-scrollbar { 
  display: none; 
}

.insight-scroll {
  overflow-y: scroll;
  padding-right: 10px;
}

.insight-scroll::-webkit-scrollbar {
  width: 1.2px; 
  height: 50%;
  
}

.insight-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 50px;
  margin-bottom:40px
  
}

.insight-scroll::-webkit-scrollbar-thumb {
  background-color: #bda248;
  border-radius: 0.5px; 
  
}







@layer utilities {
  .mask-image-gradient {
    mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
  }
  @keyframes scrollX {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .animate-scrollX {
    animation: scrollX 45s linear infinite;
  }
  @keyframes scrollXReverse {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .animate-scrollXReverse {
    animation: scrollXReverse 45s linear infinite;
  }
}

.postParagraf{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}